# Secrets — ne jamais commiter
.env
*.env

# Fichiers binaires non versionnés
*.pdf

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Node (si front ajouté)
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker
*.log